* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color:black;
    padding-top:60px;
  }
  
  nav {
    margin-top: 0px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    background-color: #0a1526;
    opacity: 0.9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed; 
    top: 0; 
    z-index: 1;
    color:white;
  }
  
  .logo {
      display: flex;
      align-items: center;
      font-size:30px;
      font-family:elephant;
      margin-left:20px;
  }
  
  .logo-img {
      width: 45px;
      height:45px;
      margin-left:20px;
      align-items: center;
      margin-top:10px;
  }
  
  nav ul {
      list-style: none;
      display: flex;
  }
  
  nav ul li {
      margin-right: 40px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  
  .login-btn {
    background-color:black;
    color: white;
    padding: 20px 50px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .main {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    height: 100vh; 
    overflow: hidden;
  }
  
  #background-video {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .main-content {
    text-align: center;
    color: #fff; /* Set the text color to white */
    padding: 20px; /* Add some padding to the content */
    margin-right: 8%;
    margin-bottom:8%;
  }
  
  .main h1 {
      font-size: 80px;
      margin-bottom: 20px;
      text-shadow: 10px 15px 10px black;
      font-family: 'BerkshireSwash-Regular';
  }
  
  .main p {
      font-size: 25px;
      text-shadow: 0 0 0 black;
      margin-bottom: 50px;
      color:white;
  }
  
  .start-btn {
      background-color: #8fc0f0;
      color: black;
      padding: 15px 20px;
      border-radius: 50px;
      text-decoration: none;
      font-size: 25px;
      transition: background-color 0.5s, color 0.5s;
  }
  
  .start-btn:hover {
      background-color: black;
      color:white;
  }
  
  @media (max-width: 768px) {
      .main h1 {
          font-size: 48px;
      }
  
      .main p {
          font-size: 20px;
      }
  
      nav ul {
          display: none;
      }
  
      .login-btn {
          font-size: 16px;
          padding: 8px 16px;
      }
  }
  
  
  .blog-section{
    background-color: #0a1526;
    color:white;
    padding:25px;
    text-align:center;
    font-size:40px;
    font-family: 'BerkshireSwash-Regular';
    
  }
  .blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #0a1526;
    color: white;
    padding: 40px 40px 60px 40px;
  }
  
  .update-card {
    width: 23%;
    margin-bottom: 20px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    color: #001233;
  }
  
  .update-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
  }
  
  .update-card .content {
    padding: 20px;
  }
  
  .update-card h3 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .update-card p {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .update-card button {
    background-color: #0a1526;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border-radius:50px;
  }
  
  .update-card button:hover {
    background-color: black;
    color:white;
  
  }

  .video-section {
    background-color: #f0f0f0;
    padding: 0; 
    text-align: center;
    height: 130vh; 
  }
  
  .video-container {
    width: 100%; 
    height: 100%; 
    margin: 0; 
    border: none;
    border-radius: 0; 
    overflow: hidden;
    position: relative; 
    background-color: #0a1526;
  }

  .subscribe-section {
      background-color: #f5f5f5;
      text-align: center;
      padding: 80px;
    }
    
    .subscribe-section h2 {
      font-family: 'BerkshireSwash-Regular';
      color: #0a1526;
      font-size: 75px;
    }
    
    .subscribe-section p {
      color: #666;
      max-width: 900px;
      margin: 0 auto;
      font-size: 20px;
      line-height: 1.6;
    }
    
    .email-box {
      margin-top: 20px;
    }
  
  
    .email-box input[type="email"] {
      padding: 10px;
      width: 250px;
      border: 2px solid #0a1526;
      border-radius: 25px;
      outline: none;
      font-size: 16px;
      text-align: center;
    }
    
    .email-box button {
      padding: 10px 100px;
      background-color: #0a1526;
      color: white;
      border: none;
      border-radius: 25px;
      margin-left: 10px;
      cursor: pointer;
      font-size: 16px;
    }
    
    .email-box button:hover {
      background-color: #8fc0f0;
    }
    
    footer {
      background-color: #0a1526;
      padding: 70px 20px;
      color: white;
    }
    
    .footer-container {
      display: flex;
      justify-content: space-around 10px;
      max-width: 80%;
      margin: 0 auto;
      flex-wrap: wrap;
    }
    
    .footer-section {
      flex: 1;
      padding: 20px;
      width:100%;
    }
    
    .footer-section h3 {
      font-family: 'Great Vibes', cursive;
      font-size: 30px;
      margin-bottom:15px;
    }
    
    .footer-section p {
      font-size: 14px;
      line-height: 1.6;
      margin-right:10px;
    }
    
    .footer-section ul {
      list-style-type: none;
      padding: 0;
    }
    
    .footer-section ul li {
      margin-bottom: 10px;
      font-size: 14px;
    }
    
    .social-icons i {
      font-size: 20px;
      margin: 10px;
      color: white;
      cursor: pointer;
    }
    
    .social-icons i:hover {
      color: #ddd;
    }
    .copyright {
      font-size: 20px;
      color: #666;
      text-align: center;
      margin: 20px auto;
      padding: 0px; 
    }